<%- include('../partials/top.ejs') %>
<h2>Add Report Card: <%= place.name%></h2>
<hr />
<!-- ADD A REPORT CARD FORM -->
<div class="list-box">
  <form action="/places/<%=place._id%>/reportcards/" method="POST">
    <ul>
      <!-- <li>
        <input type="checkbox" id="hasPotty" name="hasPotty" value="true" />
        <label for="hasPotty">Has Potty?</label>
      </li> -->
      <li>
        <input type="checkbox" id="hasChangingTableW" name="hasChangingTableW" value="true" />
        <label for="hasChangingTableW">Changing Table in Womens Room?</label>
      </li>
      <li>
        <input type="checkbox" id="hasChangingTableM" name="hasChangingTableM" value="true" />
        <label for="hasChangingTableM">Changing Table in Mens Room?</label>
      </li>
      <!-- <li>
        <input type="checkbox" id="isClean" name="isClean" value="true" />
        <label for="isClean">Is Clean?</label>
      </li>
      <li>
        <input type="checkbox" id="hasSnacks" name="hasSnacks" value="true" />
        <label for="hasSnacks">Has Snacks?</label>
      </li>
      <li>
        <input type="checkbox" id="hasCoffee" name="hasCoffee" value="true" />
        <label for="hasCoffee">Has Coffee?</label>
      </li>
      <li>
        <input type="checkbox" id="kidsCanRunAround" name="kidsCanRunAround" value="true" />
        <label for="kidsCanRunAround">Kids Can Run Around?</label>
      </li>
      <li>
        <input type="checkbox" id="everyoneMasked" name="everyoneMasked" value="true" />
        <label for="everyoneMasked">Everyone Masked?</label>
      </li> -->
    </ul>
    <!-- <div>
      <label for="comment">Other Comment:</label>
      <input name="comment" id="comment" placeholder="e.g. Friendly!" />
    </div> -->

    <div>
      <button>Submit Report</button>
    </div>
  </form>
</div>

<!-- ! use these for user ratings -->
<span class="material-icons"> thumb_up_alt </span>
<span class="material-icons"> thumb_down_alt </span>
<span class="material-icons"> add_location_alt </span>
<span class="material-icons"> edit_location_alt </span>
<span class="material-icons"> map </span>
<span class="material-icons"> my_location </span>
<span class="material-icons"> place </span>
<span class="material-icons"> clear </span>
<span class="material-icons"> add_box </span>
<span class="material-icons"> zoom_in </span>
<span class="material-icons"> zoom_out </span>
<%- include('../partials/bottom.ejs') %>
