<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- classless starter CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css" />
    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!-- icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    
    <!-- custom JS -->
    <!-- <script defer src="/js/scripts.js"></script> -->
    <title>Family Friendly</title>
  </head>
  <body>
    <div id="geo-status"></div>

  
    