<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- WATER CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css" />
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/css/style.css" />

    <!-- material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <!-- GOOGLE FONT  -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">

    <!-- custom JS -->
    <!-- <script defer src="/js/scripts.js"></script> -->
    <title>Family Friendly</title>
  </head>
  <body>
    <!-- <div id="geo-status"></div> -->
<nav>
  

<ul>
  <!-- LOGO  -->
  <li><span class="nav-option">
    <a href="/">Family Friendly <span class="material-icons"> baby_changing_station </span></a>
  </span></li>
    <!-- VIEW ALL PLACES  -->
  <li><span class="nav-option">
    <a href="/places">View Places</a>
  </span></li>
  <!-- ADD NEW PLACE  -->
  <li><span class="nav-option"> 
    <a href="/places/new">Add Place</a>
  </span></li>

  <!-- LOGIN / LOGOUT  -->
  <li><span class="nav-option">
    <% if (user) { %>
      <a href="/logout">Log Out <%= user.name %></a>
    <% } else { %>
      <a href="/auth/google">Login with Google</a>
      <% } %>
    </span></li>
</ul>

</nav>

<main>

  
  
    



</nav>

    
    