<%- include('../partials/top.ejs') %>
<h2>SHOW ALL PLACES</h2>
<p>Logged in as <%= context.user.name %></p>
<% console.log(context); %>
<em><%= context.name %></em>
<%- include('../partials/bottom.ejs') %>

