/* CUSTOM CSS */

/* FROM COOLORS */
/* CSS CUSTOM VARIABLES COLORS */
:root {
  --gunmetal: #30343fff;
  --ghost-white: #fafaffff;
  --lavender-blue: #e4d9ffff;
  --space-cadet: #273469ff;
  --space-cadet-2: #1e2749ff;
}

/* TYPE SIZING from type-scale.com */
html {
  box-sizing: border-box;
  font-size: 100%;
} /*16px*/

body {
  background-image: url(../images/bg.jpg);
  /* background: white; */
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  /* line-height: 1.75; */
  /* color: var(--gunmetal); */
  color: var(--space-cadet);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
  /* padding: 20px; */
  margin-top: 0px;

  /* margin: 0; */
  padding: 0px;
}

p {
  margin-bottom: 1rem;
  color: var(--space-cadet);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1.3rem 0 1.38rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  line-height: 1.3;
  color: var(--space-cadet);
}

h1 {
  margin-top: 0;
  font-size: 1.802rem;
}

h2 {
  font-size: 1.602rem;
}

h3 {
  font-size: 1.424rem;
}

h4 {
  font-size: 1.266rem;
}

h5 {
  font-size: 1.125rem;
}

small,
.text_small,
.tiny,
.entry-header {
  font-size: 0.889rem;
}

.big {
  font-size: 1.602rem;
  color: var(--space-cadet);
}

.bubble {
  background: rgba(255, 255, 255, 0.8);
  /* background-color: white; */
  border-radius: 15px;
}

main {
  /* background-color: white; */

  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;

  /* prevent content from being covered by nav bar  */
  padding: 3em 1em;
}

.material-icons {
  vertical-align: middle;
  font-size: 1em !important;
  padding: 0.1em;
}

/* NAV STYLES  */
nav {
  background-color: var(--space-cadet);
  padding: 0px;
  margin: 0px;
  width: 100%;
  position: fixed;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0.2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  /* overflow: hidden; */

  /* top: 0; */
  /* width: 100%; */
}

nav ul li {
  /* float: left; */
  padding: 0.1em 1em 0.1em 1em;
}

nav ul li a {
  /* display: block; */
  color: var(--ghost-white);
  /* text-align: center; */
  /* padding: 1.5em 0.2em; */
  text-decoration: none;
}

nav ul li a:hover:not(.active) {
  background-color: var(--gunmetal);
}

.active {
  background-color: var(--lavender-blue);
}

/* FORMS / SUBMIT  */

form {
  /* display: inline-block; */
  margin: 0px;

  /* flex-direction: row; */
  /* flex-wrap: nowrap; */
  /* justify-items: center; */
}

.splash {
  padding: 3em;
}

form #add-report-card {
  display: flex;
  align-items: center;
  justify-items: center;
}

input {
  background-color: var(--ghost-white);
}
.list-box {
  width: 100%;
  /* min-width: 500px; */
  display: flex;
  justify-items: space-between;
}

.list-box ul li {
  background-color: white;
  border-top: 5px dashed var(--ghost-white);
  border-radius: 5px;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
  width: 100%;
  /* margin: 10px; */
  /* padding: 0; */
}

.date {
  /* float: right; */
  display: flex;
  flex-flow: column wrap;
  margin-right: 10px;
  font-style: italic;
  /* margin: 1em 1em; */
}

#map {
  height: 300px;
  width: 100%;
}

/* button styling  */

button {
  /* display: inline-block; */
  background-color: var(--ghost-white);
  /* padding: 0.1em 0.1em; */
  padding: 0.2em;
  margin: 0.1em;
  border: 0.1em solid var(--gunmetal);
  border-radius: 1em;
  box-sizing: border-box;
  text-decoration: none;
  /* font-family: 'Roboto', sans-serif; */
  color: var(--space-cadet-2);
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  /* text-align: center; */
  transition: all 0.2s;
}
button:hover {
  border-color: rgba(255, 255, 255, 1);
  background-color: white;
  color: var(--gunmetal);
}
@media all and (max-width: 30em) {
  button {
    /* display: block; */
    margin: 0.2em auto;
  }
}

.entry-controls-header,
.entry-controls {
  display: flex;
}
.entry-info,
.entry-info-header {
  display: flex;
  justify-items: flex-start;
  align-items: center;
}

.entry-header {
  background-color: var(--ghost-white);
  border-top: none;
}

.entry-icon {
  font-size: 2.6em;
}

.danger {
  background-color: var(--lavender-blue);
  color: var(--gunmetal);
  text-shadow: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

/* Use a media query to add a breakpoint: 600px or smaller */
@media screen and (max-width: 600px) {
  main {
    padding: 6em 1em; /* more padding to make sure text is in view  */
  }
  nav ul li {
    padding-left: 0.5em;
    font-size: 0.889rem;
  }
  .show-on-big-screens {
    display: none;
  }
}
