<%- include('../partials/top.ejs') %>
<h1>Family Friendly</h1>
<h4>Crowdsourced map of baby changing tables, for caretakers of all genders.</h4>

<img src="./images/baby.png" alt="baby from pngtree" />

<small>Initial concept by Julie Hammond. <br />Development by Ben Hammond.</small>

<%- include('../partials/bottom.ejs') %>
