<%- include('../partials/top.ejs') %>
<h1>Welcome to Family Friendly</h1>
<h4>Crowdsourced map of baby changing tables, for caretakers of all genders.</h4>

<small>Initial concept by Julie Hammond. Designed and developed by <a href="https://www.benhammond.tech">Ben Hammond Tech</a> in 2021</small>

<img width="30%" src="./images/little-baby.png" alt="baby from pngtree" />
<%- include('../partials/bottom.ejs') %>
