<%- include('../partials/top.ejs') %>
<h1>Welcome to Family Friendly</h1>
<p>Find and grade public rest stops. </p>

<nav>
    <ul>
        <li><a href="../users/register">Register</a></li>
        <li><a href="../users/login">Login</a></li>
        <li><a href="../places">View Places</a></li>
        <li><a href="">Grade a Place</a></li>
    </ul>
</nav>



<%- include('../partials/bottom.ejs') %>
