<%- include('../partials/top.ejs') %>
<h1 class="bubble">Family Friendly</h1>
<h4 class="bubble">Crowdsourced map of baby changing tables, for caretakers of all genders.</h4>

<img class="splash bubble" src="./images/baby.png" alt="baby from pngtree" />

<div class="entry-controls">
  <!-- VIEW PLACES  BUTTON  -->
  <form action="/places" method="GET">
    <button class="big danger" title="View Places"><span class="material-icons"> map </span><span>View List of Places</span></button>
  </form>
</div>

<em class="splash tiny bubble">Initial concept by Julie Hammond. <br />Development by Ben Hammond.</em>

<%- include('../partials/bottom.ejs') %>
