<%- include('../partials/top.ejs') %>
<h2>REPORT CARDS FOR THIS PLACE</h2>
<p>Logged in as <%= user.name %></p>

<%= place %>
<div id="reportcards-list"></div>

<%- include('../partials/bottom.ejs') %>
